@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-burger {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -10px;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.menu-burger .burger-inner {
  width: 24px;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.menu-burger .burger-inner::before,
.menu-burger .burger-inner::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.menu-burger .burger-inner::before {
  transform: translateY(-8px);
}
.menu-burger .burger-inner::after {
  transform: translateY(8px);
}

.menu-burger.open .burger-inner {
  transform: translateX(-30px);
  background-color: transparent;
}

.menu-burger.open .burger-inner::before {
  transform: translate(30px, 0) rotate(45deg);
}
.menu-burger.open .burger-inner::after {
  transform: translate(30px, 0) rotate(-45deg);
}
.menu {
  position: fixed;
  width: 250px;
  height: 100%;
  right: -100%;
  transition: all 0.3s ease-in-out;
  z-index: 30;
}

/* slider */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #fff;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    scroll-snap-type: x mandatory;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

/* swiper */

/* stars */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffd700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #d3ae36;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #d3ae36;
}
