<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style/output.css" />
    <title>Document</title>
  </head>
  <body class="flex justify-center items-center h-screen">
    <footer
      class="flex flex-col items-center justify-start relative w-full bg-aradDark md:px-20 pt-10 pb-5"
    >
      <div
        class="flex flex-col md:flex-row justify-start items-center w-full gap-10"
      >
        <div class="flex flex-col justify-center items-start gap-2">
          <h4 class="text-sm cursor-default text-aradDirtyGold">
            لیست قیمت های عمده امروز :
          </h4>
          <ul class="flex flex-col gap-2">
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >میوه و تره بار تهران</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >میوه و تره بار شیراز</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >میوه و تره بار اصفهان</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >میوه و تره بار مشهد</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >رب گوجه فرنگی</a
            >
          </ul>
        </div>
        <div class="flex flex-col justify-center items-start gap-2">
          <h4 class="text-sm cursor-default text-aradDirtyGold">
            وبسایت های آراد :
          </h4>
          <ul class="flex flex-col gap-2">
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >مدرسه تجارت</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >خبر گزاری آراد</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >هوش مصنوعی آراد</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >رادیو آراد</a
            >
            <a
              class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
              href=""
              >آراد نامج</a
            >
          </ul>
        </div>
      </div>
      <img
        class="md:absolute md:p-0 py-10 relative md:left-20 md:top-16 w-32"
        src="/src/assets/Main-page/arad-logo.png"
        alt=""
      />
      <div
        class="flex flex-row justify-center items-center gap-1 pt-8 cursor-default"
      >
        <p class="text-sm font-semibold text-white">تمامی حقوق برای</p>
        <span
          class="text-sm font-semibold text-aradPink hover:text-aradDirtyGold transition-all duration-500"
          >آراد</span
        ><span
          class="text-sm font-semibold text-aradDirtyGold hover:text-aradPink transition-all duration-500"
          >برندینگ</span
        >
        <p class="text-sm font-semibold text-white">محفوظ است</p>
      </div>
    </footer>
  </body>
</html>
