<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/style/output.css" />
    <title>hero</title>
  </head>
  <body class="w-screen">
    <div
      class="relative w-full flex flex-col gap-2 justify-center items-center"
    >
      <img
        class="absolute -z-10 w-full h-80 top-0"
        src="../assets/Main-page/home-hero-bg.webp"
        alt="hero-bg"
      />
      <img
        class="p-2 w-36"
        src="../assets/Main-page/arad-logo-white.svg"
        alt="logo-white"
      />
      <h1 class="font-semibold text-lg pt-8 text-white">
        پل ارتباطی بین خریداران و فروشندگان محصولات عمده
      </h1>
      <p class="text-base font-semibold text-white">
        ارتباط مستقیم با خریداران و فروشندگان عمده
      </p>
      <button
        class="bg-aradDirtyGold px-4 py-3 rounded-xl font-semibold text-base mt-4 hover:bg-aradGold transition-all duration-500"
      >
        شروع معاملات عمده
      </button>
    </div>
  </body>
</html>
