<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/output.css" />
    <title>info</title>
  </head>
  <body class="bg-aradDark flex justify-center items-center">
    <div class="bg- relative flex flex-col justify-center items-center gap-2">
      <img
        class="absolute w-full h-full object-cover -z-10"
        src="../assets/Main-page/Description_Background.svg"
        alt=""
      />
      <div class="flex flex-row justify-center items-center">
        <div class="bg-black h-0.5 sm:w-[14rem] mt-4"></div>
        <h2 class="px-5 text-center font-semibold text-lg text-aradPink pt-4">
          ارتباط مستقیم با خریداران و فروشندگان عمده محصولات
        </h2>
        <div class="bg-black h-0.5 sm:w-[14rem] mt-4"></div>
      </div>
      <p class="text-aradFontGray px-6">
        برای استعلام قیمت و خرید عمده محصولات از بهترین عمده فروشان همین الان
        ثبت نام کنید.
      </p>
      <div
        class="flex flex-col lg:flex-row justify-center items-center gap-3 md:w-10/12 w-full px-2 pt-28"
      >
        <div
          class="h-[20rem] relative flex flex-col justify-center items-center w-full bg-white rounded-xl"
        >
          <div
            class="absolute rounded-[100%] bg-aradDirtyGold hover:bg-aradGold hover:shadow-md hover:shadow-aradGold transition-all duration-500 -top-20"
          >
            <img src="../assets/Main-page/basket.png" alt="basket" />
          </div>
          <h3 class="font-semibold text-aradFontPink text-lg sm:pt-16">
            خدمات مشتری
          </h3>
          <p class="text-aradFontDark sm:py-3 sm:px-12 text-right px-5">
            به شما توصیه می شود کسب و کار خود را مدیریت کنید، برند خود را
            بسازید، خدمات مشاوره رایگان دریافت کنید، تجارت و محصول خود را با
            معامله گران بین المللی به اشتراک بگذارید و با ما درآمد کسب کنید.
          </p>
        </div>
        <div
          class="h-[20rem] relative flex flex-col justify-center items-center w-full bg-white rounded-xl"
        >
          <div
            class="absolute rounded-[100%] bg-aradDirtyGold hover:bg-aradGold hover:shadow-md hover:shadow-aradGold transition-all duration-500 -top-20"
          >
            <img
              src="../assets/Main-page/arad-logo-borderYel.png"
              alt="ancher"
            />
          </div>
          <h3 class="font-semibold text-aradFontPink text-lg sm:pt-16">
            آراد برندینگ چیست؟
          </h3>
          <p class="text-aradFontDark sm:py-3 sm:px-12 text-right px-5">
            آراد برندینگ بازاری برای خرید و فروش عمده محصولات است که خریداران را
            با عمده فروشان ارتباط می دهد و خریداران و فروشندگان می توانند با
            یکدیگر ارتباط برقرار کنند.
          </p>
        </div>
        <div
          class="h-[20rem] relative flex flex-col justify-center items-center w-full bg-white rounded-xl"
        >
          <div
            class="absolute rounded-[100%] bg-aradDirtyGold hover:bg-aradGold hover:shadow-md hover:shadow-aradGold transition-all duration-500 -top-20"
          >
            <img src="../assets/Main-page/ancher.png" alt="ancher" />
          </div>
          <h3 class="font-semibold text-aradFontPink text-lg sm:pt-16">
            خدمات فروشنده
          </h3>
          <p class="text-aradFontDark sm:py-3 sm:px-12 text-right px-5">
            معرفی محصولات به خریداران عمده، دسترسی به درخواست خرید روزانه، گسترش
            شبکه تجاری و فروش مشتریان بدون واسطه و با قیمت مناسب.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
