<!DOCTYPE html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/output.css" />
    <title>slider section</title>
  </head>
  <body>
    <div class="py-8 flex flex-col w-full relative justify-center items-center">
      <img
        class="absolute w-full h-full lg:h-auto object-cover -z-10"
        src="../assets/Main-page/category_List_Background.svg"
        alt=""
      />

      <div class="max-w-[1400px] w-full">
        <div class="relative p-0">
          <div
            style="scrollbar-width: none"
            class="grid gap-4 overflow-x-auto h-full w-full px-5"
          >
            <div
              class="relative flex flex-row justify-center items-center w-full gap-3 mt-4"
            >
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href="">
                    <img
                      class="rounded-[100%] object-cover shadow-xl"
                      src="../assets/Main-page/food-unsplash (1).jpg"
                      alt="food"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  مواد غذایی
                </a>
              </div>
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href="">
                    <img
                      class="rounded-[100%] w-full h-full object-cover shadow-xl"
                      src="../assets/Main-page/build-cargp.jpg"
                      alt="Building Materials"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  مصالح ساختمانی
                </a>
              </div>
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href="">
                    <img
                      class="rounded-[100%] h-full w-full shadow-xl"
                      src="../assets/Main-page/leather.jpg"
                      alt="leather"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  چرم
                </a>
              </div>
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href="">
                    <img
                      class="rounded-[100%] h-full w-full shadow-xl"
                      src="../assets/Main-page/chem.jpg"
                      alt="chemestry"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  مواد معدنی و شیمیایی
                </a>
              </div>
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href="">
                    <img
                      class="rounded-[100%] h-full w-full shadow-xl"
                      src="../assets/Main-page/bed.jpg"
                      alt="bed"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  منسوجات خانگی
                </a>
              </div>
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href=""
                    ><img
                      class="rounded-[100%] h-full w-full shadow-xl"
                      src="../assets/Main-page/medic.jpg"
                      alt="medical"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  پزشکی و سلامت
                </a>
              </div>
              <div class="flex flex-col justify-center items-center w-full">
                <div
                  class="rounded-[100%] w-40 h-40 hover:shadow-md hover:shadow-aradGold transition-all duration-500 shadow-lg p-1"
                >
                  <a href="">
                    <img
                      class="rounded-[100%] h-full w-full shadow-xl"
                      src="../assets/Main-page/cloth.jpg"
                      alt="cloth"
                  /></a>
                </div>
                <a
                  href=""
                  class="text-base pt-4 font-semibold hover:text-aradPink transition-all"
                >
                  پوشاک
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
